{% load static %}
<html>
<style>

p {
  border: 2px solid #b0e0e6;
  padding: 15px;
    margin: 5px;
}




</style>


    <head>
        <title>My Period Tracker</title>
<link rel="stylesheet" href="{% static 'css/periodtracker.css' %}">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'signout' %}" class="top-menu">SignOut</a>
            {% endif %}
            <h1><a href="/">My Period Tracker<span style='font-size:50px;'>🩸</span></a></h1>
            <h2>Keep Track Of Your Period</h2>
        </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>