{% load static %}
<html>
<style>

p {
  border: 2px solid #b0e0e6;
  padding: 15px;
    margin: 5px;
}
</style>
    <head>
        <title>My Period Tracker</title>
<link rel="stylesheet" href="{% static 'css/periodtracker.css' %}">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="page-header" style="color: #cebdc5;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 0 0 30px #003366;
    font-family: 'Lobster', cursive;">
            {% if user.is_authenticated %}
                <ul class="top-menu" style="list-style-type: none;">
                    <li style="color: rgba(225, 227, 239, 0.9);">Hello {{ request.user }}</li>
                    <li><a href="{% url 'signout' %}" class="top-menu">SignOut</a></li>
                </ul>
            {% endif %}
            <h1><a href="/">My Period Tracker<span style='font-size:50px;'>🩸</span></a></h1>
            <h2>Keep Track Of Your Period</h2>
        </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>