{% extends 'periodtracker/base.html' %}
{% block content %}


<div>
     <a class="btn btn-default" href="{% url 'period_new'%}">neue Periode eintragen&#9997;</a>
     <a class="btn btn-default" href="cal/">Kalendar</a>
</div>
<div>
    </div>
    {% for period in periods %}

        <div class="post">
            <div class="date">
            </div>
            <b><lb>{{ "Beginn der Periode"}}</lb></b>
            <p>{{ period.starting_date }}</p>
            <b><lb>{{ "Stimmung"}}</lb></b>
            <p>{{ period.mood|linebreaksbr}}</p>
            <b><lb>{{ "Kommentar"}}</lb></b>
            <p>{{ period.comment|linebreaksbr}}</p>
            <b><lb>{{ "Schmerzen"}}</lb></b>
            <p>{{ period.pain|linebreaksbr}}</p>
            <b><lb>{{ "Ende der Periode"}}</lb></b>
            <p>{{ period.ending_date}}</p>
            <a class="btn btn-default" href="{% url 'period_delete' pk=period.pk %}"><span style='font-size:20px;'>&#10060;</span></a>
            <a class="btn btn-default" href="{% url 'period_edit' pk=period.pk %}">Ende der Periode eintragen&#9997;</a>
           <div>
           </div>
    </div>
    {% endfor %}
{% endblock %}
</section>