{% extends 'periodtracker/base.html' %}
{% block content %}
    {% for period in periods %}
        <div class="post">
            <div class="date">
                {{ period.starting_date }}
            </div>

            <p>{{ period.mood|linebreaksbr}}</p>
            <p>{{ period.comment|linebreaksbr}}</p>
            <p>{{ period.pain|linebreaksbr}}</p>
            <p>{{ period.ending_date|linebreaksbr}}</p>



            <div>
                <button>
                        <a href="period/new">löschen</a>
                </button>
            </div>

            <div>
                <button>
                        <a href="period/<int:pk>/edit">Ende der Periode eintragen</a>
                </button>
            </div>

        </div>
    {% endfor %}
    <div>
        <button>
            <a href="period/new">Periode eintragen</a>
        </button>
    </div>
{% endblock %}
</html>