{% extends 'periodtracker/base.html' %}
{% block content %}
    {% for period in periods %}
        <div class="post">
            <div class="date">
                {{ period.starting_date }}
            </div>

            <p>{{ period.mood|linebreaksbr}}</p>
            <p>{{ period.comment|linebreaksbr}}</p>
            <p>{{ period.pain|linebreaksbr}}</p>
            <p>{{ period.ending_date|linebreaksbr}}</p>



            <div>
                  <a class="btn btn-default" href="{% url 'period_delete' pk=period.pk %}">löschen</a>
            </div>

            <div>

                <a class="btn btn-default" href="{% url 'period_edit' pk=period.pk %}">Ende der Periode eintragen</a>

            </div>

        </div>
    {% endfor %}
    <div>
        <button>
            <a href="period/new">Periode eintragen</a>
        </button>
    </div>
{% endblock %}
</html>